* {
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;

	background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, p, body, ul {
	margin: 0;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
}

// Button
.button {
	display: inline-block;

	padding: 12px 16px;
	border-radius: 4px;

	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	background-color: rgb(255, 165, 0);

	color: rgba(255, 255, 255, 0.75);
	font-size: 14px;
	font-weight: 500;
	line-height: 1;

	transition: color 100ms ease-in-out;

	&:hover {
		color: white;

		cursor: pointer;
	}
}

// Badge
.badge {
	display: inline-block;
	margin-bottom: 8px;

	border-radius: 12px;
	padding: 6px 12px;

	font-size: 12px;
	font-weight: 500;
	color: white;
	line-height: 1;

	background-color: rgb(255, 165, 0);

	&.badge-republican {
		background-color: #f44336;
	}

	&.badge-democrat {
		background-color: #3d5afe;
	}
}

// Card
.card {
	display: block;
	position: relative;

	background-color: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
	border: 1px solid rgba(0, 0, 0, 0.1);

	padding: 24px;
	border-radius: 0 0 8px 8px;

	&.card-hover {
		transition: box-shadow 100ms ease-in-out;

		&:hover {
			box-shadow: 0 4px 16px rgba(0, 0, 0, 0.075);

			cursor: pointer;
		}
	}

	&::before {
		// Required for pseudo
		content: "";

		height: 4px;
		width: calc(100% + 2px);

		position: absolute;

		background-color: rgb(255, 165, 0);

		// Overlap original border
		left: -1px;
		top: -1px;
	}

	.vote {
		display: flex;
		align-items: center;
		justify-content: space-between;

		margin-left: -24px;
		padding: 16px 24px;
		border-radius: 0 64px 64px 0;

		background-color: rgba(0, 0, 0, 0.1);

		color: rgba(0, 0, 0, 0.5);

		&.vote-for {
			background-color: rgba(76, 175, 80, 0.1);

			color: rgb(76, 175, 80);
		}

		&.vote-against {
			background-color: rgba(244, 67, 54, 0.1);

			color: rgb(244, 67, 54);
		}

		p.vote-position {
			font-size: 14px;
			line-height: 1;
		}

		i {
			margin-left: 24px;
		}
	}

	/*
	.votes {
		display: flex;
		align-items: center;

		margin-left: -24px;
		margin-right: -24px;

		.votes-for, .votes-against {
			display: flex;
			align-items: center;
			justify-content: space-between;

			width: 50%;

			padding: 16px 24px;

			p.votes-amount {
				font-size: 14px;
				line-height: 1;
			}
		}

		.votes-for {
			background-color: rgba(76, 175, 80, 0.1);

			border-radius: 0 64px 64px 0;

			color: rgb(76, 175, 80);

			i {
				margin-left: 24px;
			}
		}

		.votes-against {
			color: #f44336;

			p.votes-amount {
				text-align: right;
			}

			i {
				margin-right: 24px;
			}
		}
	}
	*/
}

// Heading
.heading {
	font-size: 24px;
	font-weight: 700;
	color: rgb(255, 165, 0);
	line-height: 1.25;
}

// Sub-heading
.sub-heading {
	font-size: 14px;
	font-weight: 500;
	color: black;
	line-height: 1.25;
}

// Paragraph
p.paragraph {
	font-size: 14px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.25;

	.important {
		font-weight: 500;
		color: black;
	}
}

// Navigation bar
.navigation-bar {
	display: flex;
	align-items: center;

	height: 56px;

	background-color: white;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

	> .container, > .container-fluid {
		display: flex;
		align-items: center;

		height: 56px;
	}

	&.navigation-bar-inline ul.navigation-bar-menu li.menu-item a.item-link.active {
		border-radius: 8px 8px 0 0;
	}

	a.navigation-bar-brand {
		font-size: 16px;
		font-weight: 300;
		color: rgba(0, 0, 0, 0.5);
		line-height: 1;

		.important {
			font-weight: 500;
			color: rgb(255, 165, 0);
		}

		&:hover {
			cursor: pointer;
		}
	}

	ul.navigation-bar-menu {
		display: flex;

		list-style-type: none;

		li.menu-item {
			a.item-link {
				display: flex;
				align-items: center;
				position: relative;

				font-size: 14px;
				font-weight: 600;
				color: rgba(0, 0, 0, 0.5);
				line-height: 1;

				height: 56px;
				padding-right: 12px;
				padding-left: 12px;

				transition: color 100ms ease-in-out,
							background-color 100ms ease-in-out;

				&::after {
					// Required for pseudo
					content: "";

					height: 2px;
					width: 100%;

					position: absolute;

					background-color: transparent;

					left: 0;
					bottom: 0;

					transition: background-color 100ms ease-in-out;
				}

				&:hover {
					color: black;

					cursor: pointer;
				}

				&.active {
					background-color: rgba(255, 165, 0, 0.1);

					color: rgb(255, 165, 0);

					&::after {
						background-color: rgb(255, 165, 0);
					}
				}
			}
		}
	}
}

// Input
input.input {
	// Required for user agent
	background-color: transparent;

	font-family: "Inter", sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: black;
	line-height: 1;

	height: 38px;

	border-type: solid;
	border-width: 0 0 2px 0;
	border-color: rgba(0, 0, 0, 0.1);

	transition: border-color 100ms ease-in-out;

	&::placeholder {
		color: rgba(0, 0, 0, 0.5);
	}

	&:focus {
		outline: none;

		border-color: rgb(255, 165, 0);
	}
}

// Select
.select-wrapper {
	position: relative;

	&::after {
		content: "expand_more";

		pointer-events: none;

		font-family: "Material Icons";
		font-size: 24px;

		right: 16px;
		top: 50%;

		transform: translateY(-50%);

		position: absolute;
	}

	select.select {
		-webkit-appearance: none;

		// Required for user agent
		background-color: transparent;

		font-family: "Inter", sans-serif;
		font-size: 14px;
		font-weight: 500;
		color: black;
		line-height: 1;

		height: 38px;

		padding: 0 54px 0 14px;

		border-radius: 4px;
		border: 2px solid rgba(0, 0, 0, 0.1);

		transition: border 100ms ease-in-out;

		&:focus {
			outline: none;

			border: 2px solid rgb(255, 165, 0);
		}
	}
}

// Spacing utility expansion
.mb-4px {
	margin-bottom: 4px;
}

.mb-8px {
	margin-bottom: 8px;
}

.mb-16px {
	margin-bottom: 16px;
}

.mb-24px {
	margin-bottom: 24px;
}

.mr-4px {
	margin-right: 4px;
}

.mr-8px {
	margin-right: 8px;
}

.mr-16px {
	margin-right: 16px;
}

.mr-24px {
	margin-right: 24px;
}

.ml-4px {
	margin-left: 4px;
}

.ml-8px {
	margin-left: 8px;
}

.ml-16px {
	margin-left: 16px;
}

.ml-24px {
	margin-left: 24px;
}

.mt-4px {
	margin-top: 4px;
}

.mt-8px {
	margin-top: 8px;
}

.mt-16px {
	margin-top: 16px;
}

.mt-24px {
	margin-top: 24px;
}

// Header
// Update...
.header {
	z-index: 2;

	background-color: white;

	padding-top: 48px;
	padding-bottom: 48px;

	position: relative;

	.header-split {
		display: flex;
		align-items: center;

		> :not(:last-child) {
			margin-right: 8px;
		}

		.header-left {
			flex-grow: 1;
		}
	}
}

#page-members, #page-legislation {
	padding-top: 24px;
}

#page-explore {
	padding-bottom: 48px;

	#local {
		text-align: center;

		margin-bottom: 64px;

		position: relative;

		svg {
			position: absolute;

			width: 554px;
			max-width: 100%;

			z-index: -1;

			left: 50%;
			top: 80%;

			transform: translate(-50%, -50%);
		}

		h2.local-title {
			font-size: 24px;
			font-weight: 700;
			color: rgb(255, 165, 0);
			line-height: 1.25;

			margin-bottom: 16px;
		}

		p.feature-description {
			font-size: 16px;
			color: rgba(0, 0, 0, 0.5);
			line-height: 1.25;

			.important {
				font-weight: 500;
				color: black;
			}
		}
	}

	#features {
		padding-top: 64px;
		padding-bottom: 64px;

		img {
			max-width: 100%;
		}

		.feature {
			margin-top: 64px;
			margin-bottom: 64px;

			position: relative;

			svg {
				position: absolute;

				width: 128px;

				z-index: -1;

				left: -48px;
				top: -48px;
			}

			h2.feature-title {
				font-size: 24px;
				font-weight: 700;
				color: rgb(255, 165, 0);
				line-height: 1.25;

				margin-bottom: 16px;
			}

			p.feature-description {
				font-size: 16px;
				color: rgba(0, 0, 0, 0.5);
				line-height: 1.25;

				.important {
					font-weight: 500;
					color: black;
				}
			}
		}
	}

	#splash {
		padding-top: 64px;
		padding-bottom: 64px;

		background-color: rgba(255, 165, 0, 0.1);

		h1.splash-title {
			font-weight: 900;
			font-size: 24px;
			line-height: 1.25;

			color: rgb(255, 165, 0);

			text-align: center;

			margin-bottom: 16px;
		}

		p.splash-description {
			color: rgba(0, 0, 0, 0.5);
			font-size: 16px;

			text-align: center;

			margin-bottom: 32px;

			.important {
				font-weight: 500;
				color: black;
			}
		}

		.splash-buttons {
			text-align: center;

			.button:first-child {
				margin-right: 8px;
			}
		}
	}
}
