body {
	font-family: "Inter", sans-serif;

	background-color: #f8f9fa;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

a {
	text-decoration: none;
}

#page-explore {
	padding-bottom: 48px;

	#local {
		text-align: center;

		margin-bottom: 64px;

		position: relative;

		svg {
			position: absolute;

			width: 554px;

			z-index: -1;

			left: 50%;
			top: 80%;

			transform: translate(-50%, -50%);
		}

		h2.local-title {
			font-size: 24px;
			font-weight: 700;
			color: rgb(255, 165, 0);
			line-height: 1.25;

			margin-bottom: 16px;
		}

		p.feature-description {
			font-size: 16px;
			color: rgba(0, 0, 0, 0.5);
			line-height: 1.25;

			.important {
				font-weight: 500;
				color: black;
			}
		}
	}

	#features {
		padding-top: 64px;
		padding-bottom: 64px;

		.feature {
			margin-top: 64px;
			margin-bottom: 64px;

			position: relative;

			svg {
				position: absolute;

				width: 128px;

				z-index: -1;

				left: -48px;
				top: -48px;
			}

			h2.feature-title {
				font-size: 24px;
				font-weight: 700;
				color: rgb(255, 165, 0);
				line-height: 1.25;

				margin-bottom: 16px;
			}

			p.feature-description {
				font-size: 16px;
				color: rgba(0, 0, 0, 0.5);
				line-height: 1.25;

				.important {
					font-weight: 500;
					color: black;
				}
			}
		}
	}

	#splash {
		padding-top: 64px;
		padding-bottom: 64px;

		background-color: rgba(255, 165, 0, 0.1);

		h1.splash-title {
			font-weight: 900;
			font-size: 24px;
			line-height: 1.25;

			color: rgb(255, 165, 0);

			text-align: center;

			margin-bottom: 16px;
		}

		p.splash-description {
			color: rgba(0, 0, 0, 0.5);
			font-size: 16px;

			text-align: center;

			margin-bottom: 32px;

			.important {
				font-weight: 500;
				color: black;
			}
		}

		.splash-buttons {
			text-align: center;

			.button:first-child {
				margin-right: 8px;
			}
		}
	}
}

a.button {
	display: inline-block;

	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

	padding: 12px 16px;

	background-color: rgb(255, 165, 0);

	border-radius: 4px;

	color: rgba(255, 255, 255, 0.75);
	font-size: 14px;
	font-weight: 500;
	line-height: 1;

	transition: color 100ms ease-in-out;

	&:hover {
		color: white;

		cursor: pointer;
	}
}

.party {
	display: inline-block;

	border-radius: 24px;

	font-size: 12px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.75);
	line-height: 1;

	padding: 6px 12px;

	background-color: rgba(0, 0, 0, 0.5);

	margin-bottom: 8px;

	&.party-republican {
		background-color: #f44336;
	}

	&.party-democrat {
		background-color: #3d5afe;
	}
}

h2.title, h1.title {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.25;
	color: rgb(255, 165, 0);

	margin-bottom: 4px;
}

p.description {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1;

	&:not(:last-child) {
		margin-bottom: 24px;
	}

	.important {
		font-weight: 500;
		color: black;
	}
}

h3.heading {
	font-weight: 500;
	font-size: 14px;
	color: black;

	margin-bottom: 4px;
}

p.explanation {
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
	line-height: 1.25;

	&:not(:last-child) {
		margin-bottom: 24px;
	}
}

.navbar.navbar-inline {
	position: relative;

	z-index: 1;

	margin-bottom: 24px;
}

.header {
	z-index: 2;

	background-color: white;

	padding-top: 48px;
	padding-bottom: 48px;

	position: relative;
}

#page-politicians, #page-bills {
	padding-top: 24px;
}

.board {
	background-color: white;
	border-radius: 0 0 8px 8px;
	border: 1px solid rgba(0, 0, 0, 0.1);

	position: relative;
	padding: 24px;
	margin-bottom: 24px;

	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

	transition: box-shadow 100ms ease-in-out;

	&:hover {
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.075);

		cursor: pointer;
	}

	&::before {
		content: "";

		height: 4px;
		width: 100%;

		position: absolute;

		background-color: rgb(255, 165, 0);

		left: 0;
		top: 0;
	}

	.vote {
		margin-left: -24px;

		padding: 16px 24px;

		background-color: rgba(0, 0, 0, 0.1);

		display: flex;
		align-items: center;
		justify-content: space-between;

		border-radius: 0 64px 64px 0;

		color: rgba(0, 0, 0, 0.5);

		&.vote-for {
			background-color: rgba(76, 175, 80, 0.1);

			color: rgb(76, 175, 80);
		}

		&.vote-against {
			background-color: rgba(244, 67, 54, 0.1);

			color: rgb(244, 67, 54);
		}

		p.vote-position {
			font-size: 14px;
			line-height: 1;
		}

		i {
			margin-left: 24px;
		}
	}

	.votes {
		display: flex;
		align-items: center;

		margin-left: -24px;
		margin-right: -24px;

		.votes-for, .votes-against {
			width: 50%;

			padding: 16px 24px;

			display: flex;
			align-items: center;
			justify-content: space-between;

			p.for-amount, p.against-amount {
				font-size: 14px;
				line-height: 1;

				margin: 0;
			}
		}

		.votes-for {
			background-color: rgba(76, 175, 80, 0.1);

			border-radius: 0 64px 64px 0;

			color: rgb(76, 175, 80);

			i {
				margin-left: 8px;
			}
		}

		.votes-against {
			color: #f44336;

			p.against-amount {
				text-align: right;
			}

			i {
				margin-right: 8px;
			}
		}
	}
}

.navbar {
	z-index: 950;

	background-color: white;

	padding: 0;

	min-height: 64px;

	border-bottom: 2px solid rgba(0, 0, 0, 0.1);

	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

	&.navbar-inline {
		min-height: 56px;

		ul.navbar-nav li.nav-item {
			min-height: 56px;

			a.nav-link.active {
				border-radius: 8px 8px 0 0;
			}
		}
	}

	a.navbar-brand {
		font-size: 24px;
		line-height: 1;
		color: rgba(0, 0, 0, 0.5);
		font-weight: 300;

		.important {
			color: rgb(255, 165, 0);
			font-weight: 700;
		}
	}

	ul.navbar-nav {
		flex-direction: row;

		li.nav-item {
			min-height: 64px;

			a.nav-link {
				padding: 0;

				font-size: 14px;
				font-weight: 600;
				line-height: 1;
				color: rgba(0, 0, 0, 0.5);

				height: 100%;

				display: flex;
				align-items: center;

				padding-right: 12px;
				padding-left: 12px;

				transition: color 100ms ease-in-out,
							background-color 100ms ease-in-out;

				position: relative;

				&::after {
					content: "";

					height: 2px;
					width: 100%;

					position: absolute;

					background-color: transparent;

					left: 0;
					bottom: 0;

					transition: background-color 100ms ease-in-out;
				}

				&:hover {
					color: black;
				}

				&.active {
					background-color: rgba(255, 165, 0, 0.1);

					color: rgb(255, 165, 0);

					&::after {
						background-color: rgb(255, 165, 0);
					}
				}
			}
		}
	}
}
