body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fa; }

#page-recent {
  padding-top: 48px; }

.bill {
  background-color: white;
  border-radius: 0 0 8px 8px;
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  transition: box-shadow 100ms ease-in-out; }
  .bill:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.075);
    cursor: pointer; }
  .bill::before {
    content: "";
    height: 4px;
    width: 100%;
    position: absolute;
    background-color: orange;
    left: 0;
    top: 0; }
  .bill h2.bill-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    color: orange;
    margin-bottom: 4px; }
  .bill p.bill-description {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 24px; }
    .bill p.bill-description .important {
      font-weight: 500;
      color: black; }
  .bill .bill-votes {
    display: flex;
    align-items: center;
    margin-left: -24px;
    margin-right: -24px; }
    .bill .bill-votes .votes-for, .bill .bill-votes .votes-against {
      width: 50%;
      padding: 16px 24px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .bill .bill-votes .votes-for p.for-amount, .bill .bill-votes .votes-for p.against-amount, .bill .bill-votes .votes-against p.for-amount, .bill .bill-votes .votes-against p.against-amount {
        font-size: 14px;
        line-height: 1;
        margin: 0; }
    .bill .bill-votes .votes-for {
      background-color: rgba(76, 175, 80, 0.1);
      border-radius: 0 64px 64px 0;
      color: #4caf50; }
      .bill .bill-votes .votes-for i {
        margin-left: 8px; }
    .bill .bill-votes .votes-against {
      color: #f44336; }
      .bill .bill-votes .votes-against p.against-amount {
        text-align: right; }
      .bill .bill-votes .votes-against i {
        margin-right: 8px; }

.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 0;
  min-height: 64px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); }
  .navbar a.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: orange; }
  .navbar ul.navbar-nav {
    flex-direction: row; }
    .navbar ul.navbar-nav li.nav-item {
      min-height: 64px; }
      .navbar ul.navbar-nav li.nav-item a.nav-link {
        padding: 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        color: rgba(0, 0, 0, 0.5);
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 12px;
        padding-left: 12px; }
        .navbar ul.navbar-nav li.nav-item a.nav-link.active {
          position: relative;
          background-color: rgba(255, 165, 0, 0.1);
          color: orange; }
          .navbar ul.navbar-nav li.nav-item a.nav-link.active::after {
            content: "";
            height: 2px;
            width: 100%;
            position: absolute;
            background-color: orange;
            left: 0;
            bottom: 0; }

/*# sourceMappingURL=style.css.map */
